body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font: size 50px;
}
.Ahsancolor{
    color: orange;
}
section{
    display:flex;
    margin-bottom: 100px;
}
.half-width{
    padding: 5%;
    width: 100%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.top-bottom{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.nd-halfwidth image{
    width: 100%;
    
}
.nd-line{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}