body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font: size 100px;
}

.Ahsancolor{
    color: orange;
}
.flexiable-container{
    display:flex;
    margin-bottom: 100px;
}
.half-width{
    padding: 5%;
    width: 100%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.top-bottom{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.nd-halfwidth image{
    width: 100%;
    
}
.nd-line{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experince-item{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.experince-area{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 5%;
    border-radius: 5%;
}
#bordercolorone{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}
#bordercolortwo{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
